.happy {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 30px;
}

.happy img {
	object-fit: cover;
}

.happy p {
	padding: 30px;
}

.title {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 70px;
}

.fitness {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 30px;
}

.fitness img {
	object-fit: cover;
	float: right;
}

.fitness p {
	padding: 30px;
}
