@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

/* Navigation bar */
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* background-color: whitesmoke; */
	font-family: "Montserrat";
}

li,
a,
button {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 16px;
	color: black;
	text-decoration: none;
}

header {
	background-color: whitesmoke;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	position: sticky;
	top: 0;
	z-index: 999;
	transform: translateY(0px);
	box-sizing: border-box;

	transition: transform 0.5s ease;
}

/* Applied when scrolling down */
.headerUp {
	transform: translateY(-110px);
}

.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #9d899b;
}

button {
	padding: 9px 25px;
	background-color: rgba(120, 162, 143, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(120, 162, 143, 0.8);
}

.link {
	position: relative;
	box-sizing: border-box;
}

.link .dropdown {
	display: none;
}

.link:hover .dropdown {
	display: flex;
}

.link .dropdown {
	position: absolute;
	padding: 24px;
	padding-top: calc(36px + 24px);
	gap: 24px;
	transform: translateX(-25%);
	flex-direction: column;
	background-color: whitesmoke;
	justify-content: flex-start;
	align-items: flex-start;
	width: 147.4px;
}

.link .dropdown li {
	padding: 0;
}
